.node {
  .datum {
    will-change: transform;
    .path {
      will-change: d;
      stroke: white;
    }
    .clipPath {
      will-change: d;
    }
    .labels {
      .label {
        dominant-baseline: hanging;
        text-anchor: middle;
        user-select: none;
        letter-spacing: 1.5;
        pointer-events: none;
      }
      .value {
        dominant-baseline: hanging;
        text-anchor: middle;
        user-select: none;
        pointer-events: none;
      }
    }
  }
}
