.root {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 250px;
  padding: 8px;
  background: #fcfcfcea;
  font-size: 12px;
  transform: translate(-50%, calc(-100% - 16px));
  pointer-events: none;
  box-shadow: 0px 0px 48px 0px rgba(0, 0, 0, 0.15);
  .content {
    overflow-wrap: break-word;
    .datumLabel {
      opacity: 1;
    }
    .valueLabel {
      font-weight: bold;
    }
  }
}
